* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.msg {
    color: red;
    font-size: 18px ;
}
.form {
    display: flex;
    align-items:center ;
    justify-content:center ;
    min-height: 100vh;
    background-color: white;
}

.form form {
    background-color: white;
    box-shadow: rgb(129, 129, 129);
}